{% extends 'base.html.twig' %}

{% block body %}

<div class="container">  
    <h1 class="title p-1">{{ article.title }}</h1>
    <div class="img-fluid">
        <img width="100%" src="/assets/blog/images/{{ article.image }}" alt="{{ article.image }}">
    </div>
    <div class="content">
        <p class="date">
            {{ article.createdAt|date('d/m/Y') }} à {{ article.createdAt|date('H:i') }}
            par <span class="author">{{ article.author }}</span>
        </p>
        <h2 class="title p-1">{{ article.title }}</h2>
        <p class="content" style="text-align:justify;">{{ article.content|raw }}</p>
    </div>
</div>

{% endblock %}